* {
    margin: 0;
    border: 0;
}

body {
    background-color: #2C3333;
}

.content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #A5C9CA;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: #395B64;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    position: fixed;
    overflow: auto;
    left: 0;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

aside li {
    text-align: center;
    border-bottom: 1px solid black;
}

aside li:last-child {
    border-bottom: none;
}

aside a {
    display: block;
    color: snow;
    padding: 8px 12px;
    text-decoration: none;
}

aside a:hover {
    background-color: darkgray;
    color: white;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #395B64;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px black;
    overflow: auto;
}

/* stylelint-disable-next-line no-descending-specificity */
nav li {
    margin: 0;
    border-right: 1px solid black;
    float: left;
}

nav li:last-child {
    border-right: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #395B64;
    overflow: hidden;
}

/* stylelint-disable-next-line no-descending-specificity */
nav a {
    text-decoration: 0;
    display: block;
    color: snow;
    padding: 14px 16px;
    text-align: center;
}

nav a:visited {
    color: snow;
}

nav a:hover, nav a:active {
    color: #395B64;
    background-color: #A5C9CA;
}

.current {
    background-color: black;
    color: white;
}

main {
    background-color: #395B64;
    font-size: 1.2rem;
    color: #A5C9CA;
    border-radius: 3px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* stylelint-disable-next-line no-descending-specificity */
main a {
    color: #E7F6F2;
    text-decoration: none;
}

main a:hover, main a:active {
    color: snow
}

table {
    border: 2px solid black;
    width: 100%;
}

th {
    background-color: #2C3333;
    border: 1px solid black;
}

td {
    background-color: #A5C9CA;
    border: 1px solid black;
    color: #395B64;
}

/* make flex table for dashboard later
.exam-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 20px 10px;
}

.exam-table p {
    display: block;
    width: 100%;
    background-color: azure;
}

.examtable img {
    max-width: 300px;
}
*/

/* Grid table styling
.exam-table {
    background-color: blueviolet;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(20, min-content);
    gap: 3px;
    place-items: center;
}

.exam-table p {
    background-color: brown;
}

/* End of grid table styling */

.quote {
    font-style: italic;
}

.company-logo {
    padding-top: 20px;
}

#guerilla-logo {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#guerilla-banner {
    width: 100%;
    padding-bottom: 20px;
}

#abstraction-logo {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

#vertigo-logo {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}