* {
    margin: 0;
    border: 0;
}

body {
    background-color: aliceblue;
}

.content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 3rem;
    font-weight: bold;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: lightgray;
    border: 3px solid black;
    border-left: none;
    border-bottom: none;
    position: fixed;
    overflow: auto;
    left: 0;
    bottom: 0;
}

aside li {
    text-align: center;
    border-bottom: 1px solid black;
}

aside li:last-child {
    border-bottom: none;
}

aside a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

aside a:hover {
    background-color: darkgray;
    color: white;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px black;
    overflow: auto;
}

/* stylelint-disable-next-line no-descending-specificity */
nav li {
    margin: 0;
    border-right: 1px solid black;
    float: left;
}

nav li:last-child {
    border-right: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: slategray;
    overflow: hidden;
}

/* stylelint-disable-next-line no-descending-specificity */
nav a {
    text-decoration: 0;
    display: block;
    color: snow;
    padding: 14px 16px;
    text-align: center;
}

nav a:visited {
    color: snow;
}

nav a:hover, nav a:active {
    color: snow;
    background-color: darkgray;
}

.current {
    background-color: black;
    color: white;
}

main {
    background-color: lightgray;
    font-size: 1.2rem;
}

table {
    border: 2px solid black;
    width: 100%;
}

th {
    background-color: antiquewhite;
    border: 1px solid black;
}

td {
    background-color: blanchedalmond;
    border: 1px solid black;
}

.quote {
    font-style: italic;
}

#guerilla-logo {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#guerilla-banner {
    width: 100%;
    padding-bottom: 20px;
}

#abstraction-logo {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

#vertigo-logo {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}